In [3]:
import pandas as pd
import numpy as np
import os
import random
import string
import hashlib
import datetime
from math import sqrt

In [4]:
df = pd.read_csv(os.path.join('', 'data.csv'), sep='\t', names=['id_user', 'date', 'lattitude', 'longitude'])

In [5]:
df.shape

(34551849, 4)

In [6]:
df.head()

   id_user                 date  lattitude  longitude
0        1  2015-03-04 00:35:16   4.870147  45.772140
1        1  2015-03-04 00:35:48   4.870218  45.772095
2        1  2015-03-04 00:35:49   4.870210  45.772072
3        1  2015-03-04 00:35:50   4.870210  45.772072
4        1  2015-03-04 00:35:52   4.870210  45.772072

In [7]:
df.dtypes

id_user        int64
date          object
lattitude    float64
longitude    float64
dtype: object

In [8]:
df.tail()

          id_user                 date  lattitude  longitude
34551844      110  2015-03-12 16:23:21   2.343094  48.891650
34551845      110  2015-03-12 16:23:22   2.343094  48.891650
34551846      110  2015-03-12 16:23:24   2.343094  48.891649
34551847      110  2015-03-12 16:23:25   2.343094  48.891649
34551848      110  2015-03-12 19:29:04   2.343127  48.891772

In [9]:
LENGTH_ID_USER = 10

# Retourner une chaîne de caractères aléatoire
def generate_new_id_user():
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for _ in range(LENGTH_ID_USER))

# fonctions de hachage sha256 pour id_user
def sha_256():
    string = generate_new_id_user()
    return hashlib.sha256(string.encode()).hexdigest()

In [10]:
df_id_user = pd.DataFrame(columns=['id_user'] + list(range(11))) #11 est numero de weekend
df_id_user['id_user'] = df['id_user'].drop_duplicates()

In [11]:
df_id_user.tail()

          id_user    0    1    2    3    4    5    6    7    8    9   10
30857925       83  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31171606       87  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31821418       58  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31900305        4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
34522048      110  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [12]:
df_id_user.shape

(69, 12)

In [13]:
# Appliquer sha256 pour les différents id_user pour chaque semaine
def set_df_id_user_week():
    for idx in df_id_user.index:
        for m in range(11): #11 est numero de weekend
            df_id_user.at[idx, m] =  sha_256()

In [14]:
set_df_id_user_week()
df_id_user.head()

,id_user,0,1,2,3,4,5,6,7,8,9,10
0,1,1e486b772bad3f6d40d0df1be2fc808ea69d3dbd03d4fd...,a773ed3bb56cadde3282a792e23285b073a894c430f3c7...,e1a038618fe7202ce429f2f20480f6561af59269a1cee2...,e0f26c5cca037b4e5a18d248bb4f715a742e26e13562d9...,5fcfcc94cb61f9eedb9ddef2224044727da28f7bade1db...,c4ec3882fb1d103df4063764a8a2c68176849eb9da1411...,033ff622c1bdb6c1368a1449f232de2165e08a578c092f...,fb22b31928becdeb4990b322df966e980710f0889761d4...,9db8b5d3fce76661b48764521868a03272fa925ea21d5b...,0264dc50963ff7208f049acd7ab7cc3cabc2f2fe42f07a...,9a4aa53ec333609fe8aefbd696b3931c5f23a5cbc4eaf5...
863886,2,7e5ecbd91f5a80582574c262e90b572f0f24ed29f678a9...,f18609ee50a938f63a6855fbf4a0cc99c6fe19167f264d...,d714407fcbe9853e03665d9a97fb28f1ea425651d16d87...,28fd9eea398df4d0422621f0bddbdb3ebf451852f2836c...,eddbe8f820d220bb0372b035d50687d8eaf7a3d8f13d2f...,4063c9cfcd132514e7552fcefedd58edf3996fc564f561...,1c01dc216384d4e1219b8761260e1f6b550d46f7e151d4...,5a9d4317729119af59c59f94af2255ca4314bf18fea7b6...,a45b26f666c32145d15e785f9f490d490756b838fc445c...,1e31828513993c0b90e1151169bf5aada340112941d5bc...,9102ab05fb589c4cc2fa7bb3507540a4ec6904414112bc...
1948742,107,e4159b242a5bbe96df01ee59890e999c4521b4fe2fdeda...,13ce33cab66c883499d0a8284c7806464eb4a0a48c71c8...,a935d4f181d27ee479662c4f91a98a81e0369172345c2f...,6f9a05086e225b5f47b96cc2d7da28d06e8ce52dfb07cf...,91f229e0fdff950c3c20079a03755e74d4ff3bf0dc4ba1...,1ea3015424a92220e5dc3186c7735d8f8852d02d052a92...,9abbaf9ba97922026428b1908e176e319ccebc464e952b...,768b06bedb4e92f17395d743e5d0c5f7721412175dc654...,213a02350b6da0ee33e061f5b377a704b9ce2892989586...,e8d32161eb213e8848f3beb2848722c04d594ef82d3cdd...,f244a3e4e8964b143811f14886d5350cf9fbc120fc64be...
1997502,98,c64ddbc319403331e9482a646cf0e9d6379b0ead89bd70...,553306086ab0b6c1808d9adb3e8f3789e82203101cfd78...,7f8c385ebfa53937dfa0c6b18be09526bb5fd3cb3d930f...,8ff7847c9913a4a130c28eb0d562c80b3df51e0a948ad6...,9e801abda99339acf8c2439ba12f4d63cb8ae08f203594...,e7c910e89f5242c3cad907d471ea83a743dbffeca05717...,59bfbf08dc3f6c06ce2f798a8285f958463efba78a2226...,1dffd16fd03f25f1bf15f40e3c81c1197d60e4d27998a2...,4e3b717740039e6b5b06eec8a0022075e64be7e6985868...,346efc3cbb11a8346ab69b81a6aa4dd977cd5a34d8f3ff...,d76b2581f6827393b74f42db442ba5139c1870fcfd2363...
1999737,21,dc03954853c60d3799c7f661a5e2a8ed1c51afdd5224d1...,86c608d0c16260cefc74705524ecaebc13fcf3cb1b6656...,3b5e3e45eb9c62ae2f9485d29b383278b2d1a0f0f5e6dd...,2fc924f7a277d53176186e618964ba036ca8cfff7ded0e...,1dcd10a51b63327061ec65c957adb0dbf5b596dffe4bd7...,e00f3ea25f8e05d5bca866efafac30244407caffefc85e...,d3a1ba81bf4c54e21fb3761265925aa288037f0186d1f2...,21e671899d382e02111f518523797868f273cc61d8276f...,40b23da3b8f109bd4c58cf4dd5d8f9756daf01ef0ad9b7...,0434e800a33ce71dd5d5c317688ef7a47aae086fd96bc6...,73f5aa5634aeaa37e18321aa574f1e6518137361d0945d...

In [15]:
df_id_user.tail()

,id_user,0,1,2,3,4,5,6,7,8,9,10
30857925,83,170c680f55d8d87dfcfb70da325f40689c1921bdecc0d2...,2cde6756b62fb011cdbb1d5611b142c06165eda1cff554...,00ae67b4bc135b3244f171fd08e3ff0aabf851aead2d46...,41fe70b861545cc3b1d25e8cc24f677b6f98d46a9ddeba...,26453785432ba858dbaabbf1511f2cba71616aff66d43a...,1e67fb75918141d6c6ba6e81cc6b3070487db2f6d172d3...,05ca67bdff4913bc3ae8dfc30cf8d2c677e49a17bafd76...,85d8a97b76182f147bd025f56ee4ba1587713e7a5390ea...,d88ec4c74bf8b6ff8ab824879edb0562217de078f15b47...,e9b447772175fb182b79c00850128eae8f40fbe7b0ada8...,ace1a919e0569c326cc4b1c94c2c6a6d137922e3028ee1...
31171606,87,0a32a2d2455a9db1cf22e40455d09f7bfcfc97daa3d996...,479489f4f3f2e3f5a9bc552d5515536e0e8d2f8bf6cb50...,5445cc1e0b829df6649d487e9d2c574f734db5ad92ae0f...,f42a6d8b774664dd33c1cd2dfc819095ff643b92586f04...,187cea8a795006df32bdba9b32728a46f5a72811ac3c93...,cc0d6c5169dd0509b9e2532dde49c1413cda5ada6f5f49...,3805801543dee913b32f17e2bd44070ece7473774b2d57...,1528230c2137ec165d6e8e6577b75e906c2dbbdbb18baa...,f46df6c9bd18a49a35ec610090eb8b18dbc15541a22f86...,f466af48578b253c3a677ed9f275a9ecb8d3be723c83ec...,fbc028c360dc92e0224d3c1fc08b8ea7c5dbac9d613484...
31821418,58,87c53194561a5c3d6b58e52e203a5ca59dad02f766896b...,133f860d74d79704f69f4eac6f84e46bb02461931c7449...,be033dbb0dca9fda09a11218185ba9d64a5b0d8223fa80...,79b8716ec0a22230bae10aba214df4a8804cd9315e8d4e...,ab81e780c8f3e8d051b211a51992596de796fc147bc572...,df08fd96dcd50f0545b1fd37b88e42fe4a1d06c1e5f12f...,270cd31e20a8057aeae9c0bff34ad14f6c653ea3efb692...,dd9024dbcaf5497c6686e1d27ce668168db3597d2b7fb2...,e0830968f41ad3cc94698bb3ce32576f10d09e7b0fd41b...,78244ad9b0e87104f4380e43ec7334e4db3a692ae6d666...,98c1357bdaf9aed239184b610eafba9be00af269609b47...
31900305,4,5f5f92c6a1b8caf192dade911dd1f82d83f2d42e155cb9...,b080e3d0445762119b2ad9375742d7869e82d953070dab...,a90f7cb94ffc371f4f60e8a124a4566246e71f3fc946c7...,79b292df04713d89749b90d133cb95b25a8e15a4bef80f...,474cc3e35e2b1936c6fe1c534f2af2c8ed1155883a29a2...,5d08edd96328960ed5d81f0ff5c3fa0fca8f0a362bd60a...,fbc22be4c763c33d2f88f95ba7448abb118bdbdc2df538...,39a2e11971692bbde70318c4c7006d11426c85d07e54c4...,cb7643a408ca3cc2766dc92d694ab7f39a86c5a81a973f...,8db559e2dd7b74c844c20d6f7895de708ded2620774cf5...,64995f2640041e18d070091f34b2fb016d4bf6b5baa268...
34522048,110,38404617388bcf9dde374b180531c0afb6b387d55da15f...,d52c2d6f1c9a5a611785c277a8eaabffe7f68a91f4df6c...,b463c633e7345de774923bec759b046714c04a8ed6eb37...,7a70bf768b64b4ea81e20b74fcd3f5b4e15e21cda2eaa1...,15cbb2b3fb8080a452c2da35ba509cb984d94533067ec2...,da7dcadff0d0d8e750ee81d7ead8b660516876cbe40dbd...,b64844f77482d5fbcab886b2b8fe1bd7f87ce27b4cc993...,5f70d831c64a8c87a1fc7baaee91178b647e3c791fd52f...,76ec6d21d7e93165ae8310709cc2aff4fc80955be2f5c2...,ab24f3b0533d8d7a751bca35aa7eaa2918bf2732833b1b...,2a40f9fa23868a879b284c5a7de39fc187e3da0a3e255a...