In [1]:
import pandas as pd
import json
from datetime import datetime

df1 = pd.read_csv('bd.csv', sep='\t',
                 names=["id", "datetime", "lat", "long"])
df2 = pd.read_csv('542', sep='\t',
                 names=["gid", "datetime", "lat", "long"])

In [28]:
df2 = pd.read_csv('549', sep='\t',
                 names=["gid", "datetime", "lat", "long"])

In [29]:
print(df1)
print('----------inter-data-frame\n')
df2

           id             datetime       lat       long  week
0           1  2015-03-04 00:35:16  4.870147  45.772140    10
1           1  2015-03-04 00:35:48  4.870218  45.772095    10
2           1  2015-03-04 00:35:49  4.870210  45.772072    10
3           1  2015-03-04 00:35:50  4.870210  45.772072    10
4           1  2015-03-04 00:35:52  4.870210  45.772072    10
...       ...                  ...       ...        ...   ...
34551844  110  2015-03-12 16:23:21  2.343094  48.891650    11
34551845  110  2015-03-12 16:23:22  2.343094  48.891650    11
34551846  110  2015-03-12 16:23:24  2.343094  48.891649    11
34551847  110  2015-03-12 16:23:25  2.343094  48.891649    11
34551848  110  2015-03-12 19:29:04  2.343127  48.891772    11

[34551849 rows x 5 columns]
----------inter-data-frame

                      gid             datetime       lat       long
0         ]'`(#^=#*"@]$}'  2015-03-19 11:59:59  4.865606  45.782156
1         "\/*),>$.%\}!~~  2015-05-06 11:59:59  4.865255  45.782215
2         [_$$,];<|;$$.@`  2015-05-07 20:59:59  5.279566  45.585595
3         >=,<&]-&/"_~#'|  2015-03-12 20:59:59  4.865536  45.755755
4         )'=*+.):+!&'"[-  2015-04-15 23:23:52  4.869266  45.775416
...                   ...                  ...       ...        ...
34551844  (?),_(|``**!{\\  2015-03-21 11:59:59  4.282485  45.565725
34551845  &_"+>_}|&*@!}@'  2015-04-17 23:40:06  4.282516  45.565686
34551846  .[_;~*;&\&`(><`  2015-03-21 11:59:59  5.053295  45.818785
34551847  )":+:+<+__!:#]'  2015-04-08 14:59:59  4.087676  46.018985
34551848  _?^")/&<;#^>,*_  2015-03-04 20:59:59  4.656686  46.076466

[34551849 rows x 4 columns]

In [30]:
df2=df2[df2['gid']!='DEL']
df2['week']=pd.to_datetime(df2['datetime']).dt.isocalendar().week

# df1['week']=pd.to_datetime(df1['datetime']).dt.isocalendar().week

<ipython-input-30-a00ebb77e06d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['week']=pd.to_datetime(df2['datetime']).dt.isocalendar().week

In [203]:
# import numpy as np
# df2.shape
# df2[df2[['long']].applymap(np.isreal).all(1)]
# df2["long"] = pd.to_numeric(df2["long"])
df2.dtypes

gid          object
datetime     object
lat         float64
long        float64
week         UInt32
dtype: object

In [5]:
import numpy as np
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

In [205]:
# dftmp1=df1[df1['week']==20]
# dftmp2=df2[df2['week']==10]
# dftmp2.nunique()
# mean_lat_week_ano=dftmp2.groupby('gid', as_index=False)['long'].mean().sort_values('long')
# mean_lat_week_org=dftmp1.groupby('id', as_index=False)['long'].mean().sort_values('long')
# print(mean_lat_week_ano)
# print(mean_lat_week_org)

In [31]:
weeks=df1['week'].unique()
big={}
for w in weeks:
    print(f'week {w}')
    j=0
    dftmp1=df1[df1['week']==w]
    dftmp2=df2[df2['week']==w]
    name="2015-"+str(w)
    dftmp1=dftmp1.groupby('id', as_index=False)['lat'].mean().sort_values('lat')
    dftmp2=dftmp2.groupby('gid', as_index=False)['lat'].mean().sort_values('lat')
    for i in dftmp2['gid'].to_numpy():
        origId=str(dftmp1.iloc[j,0])
        nearest_value=find_nearest(dftmp2['lat'].to_numpy(),dftmp1.iloc[j,1] )
        pred=dftmp2[dftmp2['lat']==nearest_value].iloc[0,0]
        if origId in big:
            big[origId][name]=[str(pred)]
        else:
            dictmp={}
            dictmp[name]=[str(pred)]
            tmp_dict={
                origId:dictmp
            }
        big.update(tmp_dict)
        j+=1

week 10
week 11
week 12
week 13
week 14
week 15
week 16
week 17
week 18
week 19
week 20

In [32]:
with open('549.json', 'w') as f:
    json.dump(big, f)

In [208]:
# df_grouped1=df_grouped1.sort_values('size')
# df_grouped2=df_grouped2.sort_values('size')
# df2.groupby('id').mean()
# i==1 et w==10
# dftmp1=df1[df['week']==10]
# latmp1=dftmp1[dftmp1['id']==1]['lat'].mean()
# dftmp2=df2[df['week']==10]
# mean_lat_week_ano=dftmp2.groupby('gid', as_index=False)['lat'].mean()
# nearest_value=find_nearest(mean_lat_week_ano["lat"].to_numpy(),latmp1 )
# nearest_value
# pred=mean_lat_week_ano[(mean_lat_week_ano['lat']>=nearest_value-0.001) & (mean_lat_week_ano['lat']<=nearest_value+0.001)]
# pred
# dftmp2.head(10)
# df2.groupby('gid', as_index=False)['lat'].mean()
# dftest1=df1[df1['id']==1]
# dftest1['lat'].mean()

In [209]:
# str(pred)
# df_grouped1
# df_grouped2.iloc[j,0:1].gid

In [210]:
# big={}
# j=0
# for i in df_grouped1['id'].unique():
#     ret= getPred(i)
#     tmp_dict={
#         str(i):
#     }
#     j+=1
#     big.update(tmp_dict)

In [211]:
# big